footer{
    width: 100%;
    background-color: #222;
    padding: 60px 0px;
}
footer nav{
    float: left;
}
footer nav ul li{
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}
footer nav ul li a{
    
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}