body{
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/gallary.jpg");
}
h1{
    text-align: center;
    color: #fff;
    margin: 30px 0 50px;
}
.gallary{
    margin: 10px 50px;
   height: 100vh;
   border-radius: 30px 30px;
}
.border{
    display: block;
    margin: auto;
    width: 180px;
    height: 3px;
    background: #009688;
    margin-bottom: 40px;
}
.gallary img{
    margin-top: 20px;
    padding: 30px;
    width: 230px;
    padding: 5px;
   filter: grayscale(100%);
   transition: 1s;
   cursor: pointer;
}
.gallary img:hover{
    filter: none;
   transform: scale(1.1);
}
